body{
	background-image: url('../gambar/bg.jpg');
}
#box-login{
	border: solid red 3px;
	border-radius: 10px;
	height: 300px;
	width: 400px;
	background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.tabel-login{
	background-color: red;
	padding: 30px;
	color: white;
}
#box-login a {
	text-decoration: none;
	color: red;
	display: inline-block;
	margin: 10px;
	font-size: 1.2em;

}
#box-login a:hover{color: blue;}
